/**
 * @brief Basic settings for index page
 *
 * @file style.css
 * @version 1.0
 * $Revision: 205 $
 * $Author: fmcclurg $
 * @author Fred R. McClurg, University of Iowa
 * $Date:: 2013-01-03 13:34:19 #$: Date of last commit
 * $URL: https://srcvault.icts.uiowa.edu/repos/REDCap/REDCap/trunk/geomarker/css/style.css $
 */

table.plotTable
{
   /* width: 100%; */
   text-align: center;
   padding: 5;
}

th.fieldHeader
{
   text-align: right;
   font-weight: bold;
   white-space: nowrap;
}

input[type="submit"].buttonClass, button[type="button"].buttonClass
{
   padding: 5px;
   spacing: 10px;
   font-weight: bold;
}

.noBorderTop
{
   border-top: none;
}

/* change cursor to finger pointer upon hover over geochart marker */
#markersMapDiv circle
{
   cursor: pointer;
}

#tabs li
{
   padding: 5px;
   font-weight: bold;
}

legend
{
   text-align: center;
   font-weight: bold;
   font-size: 125%;
   background-color: #FDFEF5;
   padding: 3px;
}

fieldset
{
   background-color: #FDFEF5;
}

h1
{
   color: #800000;
   text-align: center;
   font-size: 150%;
}

/* modify the existing REDCap style */
tr.odd td
{
   border-right: none;
}

/*
body
{
   font-size: 100%;
   font-family: verdana,arial,sans-serif;
}
*/

/*
p
{
   font-size: 0.875em;
}
*/
